.barItem {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
}

.barItem:hover,
.barItem.active {
  background: linear-gradient(to right, #c752df, #7476ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.barItem:hover::after,
.barItem.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #c752df, #7476ef);
}
