.popup {
  position: absolute; 
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  padding: 10px; 
  z-index: 9999;
  min-width: 150px; 
}

.popup button {
  display: block; 
  width: 100%; 
  padding: 10px 15px; 
  margin: 5px 0; 
  border: none; 
  border-radius: 5px; 
  background-color: #b346e8; 
  color: #fff; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.popup button:hover {
  background-color: rgb(137, 13, 171); 
  transform: scale(1.05); 
}

.popup button:active {
  background-color:  rgb(133, 2, 169);
  transform: scale(0.98);
}
