.sidebar {
  background-color: #f5f5f5;
  padding: 0 10px;
  width: 15vw;
  right: 0;
  top: 15vh;
  max-height: 500000000000vh;
  min-height: 100vh;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.specialPath {
  background: linear-gradient(to bottom right, #87caf9, #b346e8);
  color: #ffffff;
}

.barItemContainer {
  margin-top: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.barItem {
  font-size: 0.9rem;
  margin: 8px 0;
  padding: 12px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.barItem:hover {
  background: rgba(186, 185, 185, 0.398);
  transform: translateX(-10px);
}

.icon {
  font-size: 1.2rem;
  margin-left: 10px;
}

@media (max-width: 850px) {
  .labelShow {
    display: none; /* Hide the buttons */
  }
}
