.topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  display: flex;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  color: black;
  height: 70px;
  width: 98.7vw;
}

.logoContainer {
  width: 15vw;
  height: auto;
  justify-content: center;
}

.logo {
  height: 60px;
  cursor: pointer;
}

.icon{
  height:50px;
  cursor: pointer;
  clip-path: inset(0 0 11px 0);
  margin-top: 11px;
}

.icon:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.rightSide {
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #b247e8, #ac5ceb);
  padding: 20px 70px 20px 20px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);

  color: #f5f5f5;
}

.signupButton {
  background-color: white; /* רקע הכפתור */
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px 27px;
  margin: 0 20px 0 0;
  position: relative; 
  z-index: 1;
}

.signupButton::before {
  content: ""; 
  position: absolute;
  top: -2px; 
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, #8c2ebc, #4495c7); 
  border-radius: 12px; 
  z-index: -1; 
}


.signupButton:hover {
  background: #f5f5f5;
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

