.topBar {
  display: flex;
  position: relative;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  color: black;
  height: 100px;
  width: 100vw;
  padding: 5px;
}

.logo {
  height: 100px;
}

.rightSide {
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #b247e8, #ac5ceb);
  padding: 20px 70px 20px 20px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  border-radius: 8px 10px 0px 0px;
  margin: 0;
  color: #f5f5f5;
}

.registerButton {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 10px 27px;
  margin: 0 20px 0 0;
}

.registerButton:hover {
  background: #f5f5f5;
}

.loginButton {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 25px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background: grey;
}
