.topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  display: flex;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  color: black;
  height: 85px;
  width: 98vw;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  width: 15vw;
  height: auto;
  justify-content: center;
}

.logo {
  height: 65px;
  cursor: pointer;
}

.rightSide {
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  height: 86px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #b247e8, #ac5ceb);
  padding: 20px 70px 20px 20px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);

  color: #f5f5f5;
}

.signupButton {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 10px 27px;
  margin: 0 20px 0 0;
}

.signupButton:hover {
  background: #f5f5f5;
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.loginButton {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 25px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
