.benefitCard {
  width: 200px;
  height: 220px;
  padding: 20px;
  margin: 0.5vw;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefitCard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
}


.divider {
  width: 100%;
  height: 1px;
  background-color: #353535;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #353535;
  margin: 10px 0 0;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.clubName {
  font-size: 14px;
  margin-bottom: 20px;
  color: #585757;
  margin: 0 10px 40px 0;
  text-align: right;
  word-wrap: break-word;
  word-break: break-word;
  direction: rtl;
}

.button {
  height: 30px;
  width: 120px;
  font-size: medium;
  background: linear-gradient(to bottom, #b346e8, #87cdfa);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  direction: ltr;
  position: absolute;
  bottom: 20px;
  left: 30px;
}





.deleteButton svg {
  font-size: 35px;
  color: #474747;
  position: absolute;
  bottom: 20px;
}
.button:hover {
  background: linear-gradient(to bottom, #a344d3, #7ec0ea);
  transform: scale(1.05);
}

.expiredOverlay {
  position: absolute;
  top: 185px;
  left: 30px;
  z-index: 10;
}

.expiredIcon {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.yourBenefit{
  width: 70px;
  position: absolute;
  top: 185px;
  left: 20px;
}
