.container {
  font-family: "Assistant";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
  }
  
  .container h1 {
    font-size: 2rem;
    color: #360866;
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
  }
  
  .table th {
    background-color: #5a0db1;
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .detailsButton,
  .deleteButton {
    background: linear-gradient(to bottom, #b346e8, #87cdfa);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: 2px;
    transition: background 0.3s ease;
  }
  
  .detailsButton:hover,
  .deleteButton:hover {
    background-color: #0056b3;
  }
  
  .modalContent {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .modalContent p {
    margin: 10px 0;
  }
  
  .modalContent a {
    color: #b346e8;
    text-decoration: none;
  }
  
  .modalContent a:hover {
    text-decoration: underline;
  }
  
  .logo {
    max-height: 50px; 
    max-width: 50px; 
    object-fit: contain; 
    border-radius: 5px; 
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pageButton {
    background-color: #b346e8;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pageButton:hover {
    background-color: #7733b3;
    transform: scale(1.1);
  }
  
  .activePage {
    background-color:  #7321bc;
    color: white;
    font-weight: bold;
  }
  
  

