.centerContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom right, #b346e8, #87cdfa);
  padding: 5vh ;
  color: white;
  min-height: 80%vh;
}

.loginPage h1{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 4vh;

}

.formContainer {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  width: 100%;
}

.formGroup {
  margin-bottom: 1rem;
}

.loginPage label {
  font-size: 0.875rem;
  font-weight: 500;
}

.loginPage input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: black;
}


.inlineContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  color: white;
  text-decoration: underline;
}
/* Dropdown.module.css */
.dropdownContainer {
  position: relative; /* Ensure dropdown stays inside parent */
  margin-top: 1rem; /* Space above dropdown */
}

.dropdownButton {
  background-color: #ffffff;
  color: #333;
  padding: 10px 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.dropdownButton:hover {
  background-color: #f5f5f5;
}

.dropdownContent {
  text-align: right;
  direction: rtl;
  color: #9c27b0;
  margin-top: 0.5rem; /* Space between button and content */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  animation: slideDown 0.3s ease-out; /* Smooth open animation */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Add a smooth open animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.checkboxItem {
  text-align: right;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.checkboxItem input {
  margin: 0;
  cursor: pointer;
  padding: 0;
  width: auto;
  height: auto;
}

.checkboxItem label {
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
}




.dropdownBranches {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  max-height: 200px; 
  overflow-y: auto; 
  z-index: 1000; 
  width: 50%; 
  margin-top: 4px; 
  color: black;
}

.dropdownBranches ul {
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

.dropdownBranches li {
  padding: 8px 12px; 
  cursor: pointer; 
  display: flex; 
  justify-content: space-between; 
}

.dropdownBranches li:hover {
  background-color: #f5f5f5; 
}

.dropdownBranches li:last-child {
  border-bottom: none; 
}


.selectAll {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd; 
  background-color: #f9f9f9; 
  cursor: pointer;
}

.selectAll label {
  display: flex;
  align-items: center;
  gap: 8px; 
}


.loginPageButton{
  background: linear-gradient(to right, #9c27b0, #2196f3);
  color: white;
  border-radius: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0.6px;
  padding: 10px 0;
  width: 100px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-right: 30%;
}

.loginPageButton:hover {
  transform: scale(1.03); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
