.centerContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginPage {
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-background-clip: text;
  position: relative;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  direction: rtl;
}

.loginPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.uploadButton {
  background-color: #ffff;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.uploadButton:hover {
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginPage h1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 6vh;
  text-align: center;
  align-items: center;
  align-self: center;
}
.loginPage h2 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  align-self: center;
  margin-bottom: 2vh;
}

.formContainer {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  width: 100%;
}

.loginPageButton {
  border: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  color: #94a6f5;
  border-color: #4a4a4a;
  font-size: 16px;
}

.loginPageButton:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.inputField {
  width: 100%;
  padding: 8px 18px;
  border: 1px solid #c9c4c4;
  border-radius: 4px;
  font-size: 1rem;
  color: rgb(0, 76, 152) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.error {
  color: #d9534f;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  text-align: right;
}

.item {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.categoryList {
  display: flex;
  /* justify-content: flex-end;  */
  flex-direction: column;
  margin-top: 0.5px;
  padding: 8px 16px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: right;
  direction: rtl;
  max-height: 250px;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 10;
}

.branchLabel input {
  margin-left: 5px;
}

.selectButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: right;
  direction: rtl;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.selectButton:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.selectButton span {
  font-size: 16px;
  color: #333;
}

.selectButton svg {
  font-size: 16px;
  color: #666;
  transition: transform 0.3s;
}

.noAccountLink {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  align-self: center;
  color: rgb(26, 11, 72);
  text-decoration: underline;
}
