.centerContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginPage {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom right, #b346e8, #87cdfa);
  padding: 5vh;
  color: white;
  min-height: 80%vh;
  border-radius: 12px; */

  /* font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: right;*/
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-background-clip: text;

  position: relative;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.loginPage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.noAccountLink{
  text-align: center;
  align-items: center;
  align-self: center;
  color: white;
  text-decoration: underline;
}
.signOption{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.loginPage h1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 6vh;
  text-align: center;
  align-items: center;
  align-self: center;
}
.loginPage h2 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  align-self: center;
  margin-bottom: 2vh;
}

.formContainer {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  width: 100%;
}

.formGroup {
  margin-bottom: 0.3rem;
}


.loginPage input { 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  padding: 8px 28px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 1rem;
  color: black;
}

.inlineContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-text-fill-color: transparent;
}

.dropdownContainer {
  position: relative; 
  margin-top: 1rem; 
}

.dropdownButton {
  background-color: #ffffff;
  color: #333;
  padding: 10px 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.dropdownButton:hover {
  background-color: #f5f5f5;
}

.dropdownContent {
  text-align: left;
  align-items: center;

  direction: rtl;
  color: #9c27b0;
  margin-top: 0.5rem; /* Space between button and content */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  animation: slideDown 0.3s ease-out; /* Smooth open animation */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Add a smooth open animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.checkboxItem {
  align-items: center;

  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.checkboxItem input {
  margin: 0;
  cursor: pointer;
  padding: 0;
  width: auto;
  height: auto;
}

.checkboxItem label {
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
}

.dropdownBranches {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  width: 50%;
  margin-top: 4px;
  color: black;
}

.dropdownBranches ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdownBranches li {
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
}

.dropdownBranches li:hover {
  background-color: #f5f5f5;
}

.dropdownBranches li:last-child {
  border-bottom: none;
}

.selectAll {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.selectAll label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginPageButton {
  border: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  color: #94a6f5;
  border-color: #4a4a4a;
}

.loginPageButton:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.branchInput {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.selectedBranch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.selectedBranch button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.selectedBranch button:hover {
  background-color: #c0392b;
}

.inputField {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #716565;
  border-radius: 4px;
  font-size: 1rem;
  color: black;
  placeholder-color: #232222; /* צבע placeholder */
}

.inputField::placeholder {
  color: #201e1e; /* שחור בהיר */
}
