.clubCard {
  width: 240px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 20px;
  margin-bottom: 1vw;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 1vw;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-weight: 800;
}

.clubCard:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 70px;
  width: auto;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 15px auto;
}

.name {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Assistant';
  font-weight: 600;
}

.link:hover {
  color: #0056b3;
}

/* Buttons Styling */
.button {
  background: linear-gradient(to right, #b346e8, #87cdfa);
  height: 35px;
  width: 150px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.2s ease, background 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.button:hover {
  background: linear-gradient(to right, #a344d3, #7ec0ea);
  transform: scale(1.03);
}

.deleteButton {
  background-color: #f8d7da;
  color: #842029;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #f5c2c7;
  transform: scale(1.03);
}

.hide {
  display: none;
}
