.aboutPage {
  background: linear-gradient(to bottom right, #b346e8, #87cdfa);
  color: white;
  text-align: right;
  min-height: 100vh;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutUs,
.contactUs {
  flex: 1;
  margin: 20px;
}

.aboutPage h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.aboutPage p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contactUs p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contactUs li {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.contactUs li svg {
  margin: 8px;
}
