@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  direction: rtl;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  direction: rtl;
  font-family: var(--font-heebo), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: row;
  position: relative; /* Ensures proper stacking context */
  z-index: 1; /* Keep this lower than the popup */
  background-color: #f5f5f5;
  margin-top: 85px; /* Ensure the popup doesn't overlap the top bar */
}

.overlay {
  position: fixed;
  top: 0;
  left: 25%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above the other content */
  pointer-events: auto; /* Allow clicking the overlay to close the calculator */
}
