@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  direction: rtl;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  direction: rtl;
  font-family: var(--font-heebo), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  display: flex;
  flex-direction: row;
  position: relative; /* Ensures proper stacking context */
  z-index: 1; /* Keep this lower than the popup */
}
