/* components/Footer.module.css */
.footer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: #d8d8d8;
  color: black;
  z-index: 5;
  width: 100%;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container h2 {
  font-weight: bold;
}

.navLinks li {
  display: inline;
}

.navLinks a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  background: linear-gradient(to right, #b346e8, #87cdfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
