@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Amatic+SC:wght@400;700&family=Assistant:wght@200..800&family=M+PLUS+Rounded+1c&family=Varela+Round&display=swap");

.homePage {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #b346e8, #87cdfa);
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: large;
  animation: slideUp 2s forwards; /* הוספת האנימציה */
}

@keyframes slideUp {
  from {
    transform: translateY(70px); /* התחלה מתחת למסך */
    opacity: 0; /* שקיפות מלאה */
  }
  to {
    transform: translateY(0); /* במיקום הרגיל */
    opacity: 1; /* שקיפות רגילה */
  }
}

/* .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: large;
  animation: slideUp 1.5s ease-out; /* הוספת האנימציה */
/* }

@keyframes slideUp {
  from {
    transform: translateY(-50px); /* התחלה מעל המסך */
/* opacity: 0; /* שקיפות מלאה */
/* }
  to {
    transform: translateY(0); /* במיקום הרגיל */
/* opacity: 1; שקיפות רגילה */
/* }
} */

.image {
  width: 150px;
  height: auto;
}

.logoTitle {
  font-family: "Alef";
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
