.homePage {
  padding:5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #b346e8, #87cdfa);
  width: 100%;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: large;
  animation: slideUp 2s forwards; /* הוספת האנימציה */
}

@keyframes slideUp {
  from {
    transform: translateY(70px); /* התחלה מתחת למסך */
    opacity: 0; /* שקיפות מלאה */
  }
  to {
    transform: translateY(0); /* במיקום הרגיל */
    opacity: 1; /* שקיפות רגילה */
  }
}

/* .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: large;
  animation: slideUp 1.5s ease-out; /* הוספת האנימציה */
/* }

@keyframes slideUp {
  from {
    transform: translateY(-50px); /* התחלה מעל המסך */
    /* opacity: 0; /* שקיפות מלאה */
  /* }
  to {
    transform: translateY(0); /* במיקום הרגיל */
    /* opacity: 1; שקיפות רגילה */
  /* }
} */ 


.image {
  width: 150px; /* Adjust size as needed */
  height: auto;
}
